@font-face {
    font-family: "Minecraft";
    src: url(../fonts/MinecraftTen-VGORe.ttf);
}

.game-header {
    background: linear-gradient(180deg, rgba(250, 249, 250, 0.3) 0, rgba(250, 249, 250, 0.5) 90%, #FAF9FA 100%);
    border-color: #a49fad;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    content: '';
    display: flex;
    flex-direction: column;
    font: inherit;
    font-size: 100%;
    justify-content: space-between;
    min-height: 18rem;
    margin: 0;
    margin-bottom: -100px;
    overflow: hidden;
    padding: 0;
    position: relative;
    transition: 0.5s;
    vertical-align: baseline;
}

.game-header-art {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    font: inherit;
    font-size: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    vertical-align: baseline;
    width: 100%;
    z-index: -1;
}

.main-container {
    z-index: 999;
}

.page-title {
    background-color: rgba(0,0,0,.5);
    color: white;
    display: inline-block;
    font-family: "Minecraft";
    padding: 10px 20px 20px;
    text-align: center;
    transform: translateY(-80px);
    
    -webkit-text-stroke: 2px black;
}

.mod-title {
    color: black;
    font-family: "Minecraft";
    margin-bottom: 10px;
    text-align: center;

    -webkit-text-stroke: 1px pink;
}

.mod-header {
    font-weight: bold;
}

.mod-name {
    text-align: left;
}

.mod-version {
    text-align: center;
}

.mod-link {
    padding-left: 15px;
}

.mod-link a {
    margin-right: 15px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}

.row {
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin: 5px 0;
    padding: 5px;
}

.borderless-row {
    border: none;
}

.mod-row {
    margin: 0;
}

.mod-row:hover {
    background: rgba(250, 249, 250, 0.6);
}

#version-select {
    padding: 20px;
    position: absolute;
}

#version {
    width: 100px;
}

.resource-pack-container,
.shader-pack-container {
    margin-top: 25px;
}

.ext-link {
    color: blue;
    cursor: pointer;
    font-size: 10px;
    position: absolute;
    right: 0;
    top: 0;
}